.header{
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-size: larger;
    padding: 10px 20% 10px 20%;
    margin-bottom: 20px;
    height: 70px;
    background-color: rgb(26, 190, 163);
    color: white;
}
a {
    color: white;
    text-decoration: none;
}