* {
    margin: 0px;
    padding: 0px;
}

.wrapper {
    padding: 20px 20% 0px 20%;
    min-height: 100vh;
    background-color: rgb(144, 202, 224);
}
.test{
    text-align: center;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 10px;
}