<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="shortcut icon" type="image/png" href="../static/images/favicon.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% include 'banner.html' %}
    <div class="wrapper flexed">
        <div class="weather">
        {% if messages %}
            <div>
            {% for message in messages %}
                <p class='text-danger'>{{ message }}</p>
            {% endfor %}
            </div>
        {% endif %}
        <form action="weather" method="POST">
            {% csrf_token %}
            <input type="text" name="city" id="city" placeholder="City Name..">
            <input type="submit" value="Get Weather" id="button">
        </form>
        {% if request.session.current_city %}
        <div class="stat_box">
            <div class="stat_box-top text-right mb-4">
                <form action="/favorite" method="POST">
                    {% csrf_token %}
                    <button class="borderless">
                        {% if favorited == True %}
                            <img src="../static/images/favorited.png" alt="">
                        {% else %}
                            <img src="../static/images/unfavorited.png" alt="">
                        {% endif %}
                    </button>
                    <input type="hidden" name="city" value="{{request.session.current_city.city}}">
                    {% for favorite in favorites %}
                        {% if favorite.city == request.session.current_city.city %}
                            <input type="hidden" name="city_id" value="{{favorite.id}}">
                        {% endif %}
                    {% endfor %}
                </form>
            </div>
            <div class="stat_box_bottom flexed">
                <div>
                    <h1>{{request.session.current_city.temp_c}} / {{request.session.current_city.temp_f}}</h1>
                    <p>{{request.session.current_city.city}} - {{request.session.current_city.country_code}}</p>
                    <p>{{ request.session.current_city.weather_type }}</p>
                </div>
            </div>
        </div>
        {% endif %}
        </div>
        <div class="favorites">
        {% if request.session.current_user %}
            {%for favorite in favorites%}
            <div class="favorite flexed">
                <div class="favorite-left">
                    <p>placeholder</p>
                </div>
                <div class="favorite-middle">
                    <p>{{favorite.city}}</p>
                    <p>{{favorite.temp_c}} / {{favorite.temp_f}}</p>
                </div>
                <div class="favorite-right">
                    <form action="/delete" method="POST">
                        {% csrf_token %}
                        <button class="borderless">
                            <img src="../static/images/delete.png" alt="">
                        </button>
                        <input type="hidden" name="city" value="{{favorite.id}}">
                    </form>
                </div>
            </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
</body>
</html>