<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Colby's Weather App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <div class="header">
        <div class="header-left">
            <h3>Weather App</h3>
        </div>
        <div class="header-right">
            <a href="/login">Login</a>
        </div>
    </div>
    <div class="wrapper">
        <div class="weather">
            {% if messages %}
                <div>
                {% for message in messages %}
                    <p class='text-danger'>{{ message }}</p>
                {% endfor %}
                </div>
            {% endif %}
            <form action="weather" method="POST">
                {% csrf_token %}
                <input type="text" name="city" id="city" placeholder="City Name..">
                <input type="submit" value="Get Weather" id="button">
            </form>
            <div class="stat_box">
                <div>
                    <h1>{{request.session.current_city.temp_c}} / {{request.session.current_city.temp_f}}</h1>
                    <p>{{request.session.current_city.city}} - {{request.session.current_city.country_code}}</p>
                    <p>{{ request.session.current_city.weather_type }}</p>
                </div>
            </div>
        </div>
        <div class="favorites">
            <h3>favorites placeholder</h3>
            <h3>favorites placeholder</h3>
            <h3>favorites placeholder</h3>
            <h3>favorites placeholder</h3>
            <h3>favorites placeholder</h3>
        </div>
    </div>
</body>
</html>